@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 01 Hairline.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 01 Hairline.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 01 Hairline.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 02 Thin.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 02 Thin.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 02 Thin.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 03 Light.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 03 Light.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 03 Light.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 04 Regular.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 04 Regular.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 04 Regular.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 05 Medium.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 05 Medium.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 05 Medium.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 06 Bold.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 06 Bold.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 06 Bold.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 07 Heavy.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 07 Heavy.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 07 Heavy.ttf?v=970802') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 08 Fat.eot?v=970802');
	src: url('./fonts/Yekan Bakh/Yekan Bakh EN 08 Fat.woff?v=970802') format('woff'), url('./fonts/Yekan Bakh/Yekan Bakh EN 08 Fat.ttf?v=970802') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'YekanBakh', sans-serif;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
  position: relative;
}

@media (min-width: 400) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}