.homeImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.homeTitle {
    margin: 0;
    margin-top: 16px;
}
.homeText {
    margin: 0;
    margin-top: 8px;
    border-bottom: 2px dotted #d2d2d2;
    padding-bottom: 16px;
    margin-bottom: 32px;
}